/* .horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
}

.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;
} */

.container-about-me{
    height: 100vh;

    display: grid;
    place-items: center;
}


.about-me{
    margin-top: 8rem;
    width: auto;
    height: 100vh;
    text-align: center;
}

.about-me-info{
    margin-bottom: 25px;
}

.about-me-title{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: #bad3e2;
    text-transform: capitalize;
}

.about-me-details{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    max-width: 450px;
    margin: 20px auto;
}

.about-me-btn{
    background-color: #9bb0bc;
    color: white;
    border: none;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 8px;
    cursor: pointer;
}

.about-me-btn:hover{
    filter: brightness(120%);
}

.about-me-img-section{
    position: relative;
    display: flex;
    justify-content: center;
}

.about-me-img{
    width: 80%;
    max-width: 300px;
}


@media (min-width: 950px){
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about-me{
        /* margin-top: 8rem;
        width: auto;
        height: 80vh; */
    
        text-align: left;
        display: flex;
        justify-content: space-between;
        max-width: 980px;
        margin: 0 auto;
        align-items: center;
    }
    
    .about-me-info{
        margin-bottom: 0px;
    }
    
    .about-me-title{
        font-size: 60px;
    }
    
    .about-me-details{
        font-size: 20px;
        margin: 30px 0;
    }
    
    .about-me-btn{
        font-size: 22px;
    }
    
    .about-me-img{
        width: 100%;
        max-width: 350px;
    }
}