html{
    scroll-behavior: smooth;
}

/* section[id]{
    scroll-margin-top: 70px;
} */

.topheader{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.427);
    /* background: rgba(0, 0, 0, 0.2); */
    /* backdrop-filter: blur(30px); */
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
}

.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px; 
    margin: 0 auto; 
}

.logo{
    display: flex;
    align-items: center;
}

/* MENÚ */

.menu{
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;
}

.menu a{
    font-size: 18px;
    font-weight: 300;
    line-height: 50px;
    text-transform: uppercase;
}

.open-menu,
.close-menu{
    display: none;
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.2)), url(/img/fond2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 500px;
    height: 100vh;
}

.pres-container{
    padding: 0 15%;
    font-family: 'Nunito', sans-serif;

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pres-text h1{
    font-size: 90px;
    font-weight: 700;
    mask-border: 5px;
}

.pres-text p{
    font-size: 50px;
    font-weight: 300;
}

@media (max-width: 950px){
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        /* justify-content: center; */
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(30px);
        height: 100%;
        overflow-y: auto;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .menu li{
        padding: 0;
    }

    /* .menu .list{
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */
    
    .menu a{
        line-height: 60px;
    }
    
    .open-menu,
    .close-menu{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu{
        align-self: flex-end;
        padding: 10px 15px;
    }

    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }

    .pres-container{
        padding: 0 5%;
    }
    
    .pres-text h1{
        font-size: 70px;
    }
    
    .pres-text p{
        font-size: 30px;
    }
}

@media (max-width: 480px){
    .pres-text h1{
        font-size: 60px;
    }
    
    .pres-text p{
        font-size: 20px;
    }
}