img{
    display: block;
    max-width: 100%;
    height: auto;
}

.proyect{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    /* padding-block: 5rem; */
    padding-block: 10rem;
}

.proyect-header{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.proyect-header h1{
    font-size: 40px;
}

.card_container{
    display: grid;
    row-gap: 3.5rem;
}

.card_article{
    position: relative;
    overflow: hidden;
}

.card_img{
    width: 390px;
    /* width: 328px; */
    border-radius: 1.5rem;
}

.card_data{
    width: 280px;
    background-color: #0f0f0f;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card_title{
    font-size: 1.25rem;
    font-weight: 500;
    color: #bad3e2;
    margin-bottom: .75rem;
}

.card_button{
    /* display: inline-block; */
    opacity: 0.75;
}

.card_button:hover{
    opacity: 1;
}

.card_article:hover .card_data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card_article:hover{
    animation: remove-overflow 2s forwards;
}

.card_article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card_article:not(:hover) .card_data{
    animation: remove-data 1s forwards;
}

@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }

    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

@media (min-width: 320px) {
    .proyect-header{
        padding: 50px 0;
    }
}

@media (min-width: 340px) {
    .proyect{
        margin-inline: 1rem;
    }

    .proyect-header{
        padding: 50px 0;
    }

    .card_data{
        width: 250px;
        padding: 1rem;
    }
}

@media (min-width: 768px) { 
    .proyect-header{
        padding: 50px 0;
    }

    .card_container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

@media (min-width: 1120px) {
    .proyect{
        height: 100vh;
    }

    .card_container{
        grid-template-columns: repeat(3, 1fr);
    }

    .card_img{
        width: 348px;
    }

    .card_data{
        width: 230px;
        padding-inline: 2.5rem;
    }
}