.skills{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-header{
    width: 100%;
    text-align: center;
    padding-bottom: 90px;
}

.skills-header h1{
    font-size: 40px;
}

.container-skill{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.container-skill .container-box-skill{
    box-shadow: 0 0 5px rgba(35, 33, 33, 0.8);
    width: 400px;
    height: 300px;
    border-radius: 10%;
    margin: 0 30px;
}

.container-skill .container-logo-skill{
    text-align: center;
    margin: 20px 0;
    transition: .3s;
}

.container-logo-skill i{
    background-color: #bad3e2;
    padding: 15px 18px;
    font-size: 30px;
    border-radius: 30%;
    cursor: pointer;
}

.container-logo-skill i:hover{
    transform: scale(1.2);
}

.container-skill .container-title-skill{
    text-align: center;
}

.container-title-skill h3{
    font-weight: 600;
    margin-bottom: 20px;
}

.container-skill .container-data-skill{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
}

.container-data-skill div{
    font-weight: 300;
    transition: .3s;
    text-align: left;
    padding: 10px 0;
    font-size: 18px;
}

.container-data-skill div i,
.container-data-skill div img{
    float: right;
}

.container-data-skill div:hover,
.container-data-skill div img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 968px){
    .skills{
        padding-top: 10%;
    }

    .skills-header{
        padding-bottom: 60px;
    }

    .skills-header h1{
        font-size: 40px;
    }

    .container-skill .container-box-skill{
        margin: 20px 0;
    }
}

@media (max-width: 800px){
    .skills{
        padding-top: 20%;
    }
}

@media (max-width: 460px){
    .container-skill .container-box-skill{
        width: 370px;
    }
}

@media (max-width: 426px){
    .skills{
        padding-top: 22%;
    }
}

@media (max-width: 410px){
    .skills{
        padding-top: 26%;
    }

    .container-skill .container-box-skill{
        width: 330px;
    }
}

@media (max-width: 380px){
    .container-skill .container-box-skill{
        width: 290px;
    }
}